name: marp-to-pages
concurrency: marp-to-pages

on:
  push:
    branches: [ main ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Ensure build dir exists
        run: mkdir -p build

      - name: Copy images directory (if exists)
        run: if [[ -d images ]]; then cp -R images build/images; fi

      - name: Marp Build (HTML)
        uses: docker://marpteam/marp-cli:v4.2.3
        with:
          args: --theme-set classmethod-theme.css -o build/introducing-smalltalk-dev-plugin-en.html -- introducing-smalltalk-dev-plugin-en.md
        env:
          MARP_USER: root:root

      - name: Marp Build (PDF)
        uses: docker://marpteam/marp-cli:v4.2.3
        with:
          args: --theme-set classmethod-theme.css --allow-local-files -o build/introducing-smalltalk-dev-plugin-en.pdf -- introducing-smalltalk-dev-plugin-en.md
        env:
          MARP_USER: root:root

      - name: Copy HTML as index
        run: cp build/introducing-smalltalk-dev-plugin-en.html build/index.html

      - name: Deploy preview
        if: ${{ github.event_name == 'pull_request' }}
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./build/
          preview-branch: gh-pages
          umbrella-dir: pr-preview

      - name: Deploy production
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./build/
          clean-exclude: pr-preview/
